:root{
    --title-color : #2E2F42;
    --typle-color:#5c6afd;
    --while-color:#FFFFFF;
    --typle2-color:#434455;
    --while2-color:#E7E9FC;
    --while3-color:#F4F4FD;
    --blue-color:#4D5AE5;
    --title2-color:#AFB1B8;
    --title3-color:#8E8F99;
    --title4-color:#E5E5E5;
    --blue2-color:#404BBF;
    --green:#31D0AA;
    ----red: red;
    --gray:#757575;
}

h1,
h2,
h3,
p{
margin-top: 0%;
margin-bottom: 0%;
}
.portfolio1{
    padding-bottom: 48px;
}
ul{
margin-top: 0%;
margin-bottom: 0%;
padding-left: 0%;
}
img{
display: block;
width: 100%;
height: auto;
}
.container{
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
/*-------------HEADER-------------- */
.header{
background:var(--while-color);
border-bottom: 1px solid var(--title2-color);
padding-top:25px ;
padding-bottom: 25px;
}
.element.style{
    display: flex;
}
.no-scroll{
    overflow: hidden;
}
.page-header-container{
    display: flex;
    align-items: center;
}
body{
    color:var(--title-color) ;
    font-family: 'Roboto',sans-serif;
}
.web{
    color: var(--typle-color);
    text-transform: uppercase; 
    font-family: Raleway;
}
.studio{
    color:var(--title-color);
    text-transform: uppercase; 
    font-family: Raleway;
}
.team-title-foto{
    font-size: 36px;
    line-height:calc(40/36);
    color:var(--title-color);
}
/*---------------BUTTON------------ */
.menu-open{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    background-color:transparent;
    margin-left: auto;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: auto;
}
.menu-svg{
    stroke:var(--title-color);
    justify-content: center;
    align-items: center; 
}
.page-header-list{
    color: var(--blue-color);
}
/* --------HEADER-------- */
.header-list,
.header-list,
.contacts,
.contacts2{
    display: none;
}
/*.page-header-container{
    padding-top: 24px;
    padding-bottom: 24px;
}*/
/*-----------MENU-----------*/
.mob-menu{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--while-color);
    padding-top:24px;
}
.mob-menu > .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.list4{
    margin-top: auto;
}
.menu-close{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-bottom: 32px;
    width: 24px;
    height: 24px;
    border:1 px solid var(--while2-color);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--while2-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover,
.menu-close:focus{
    background-color: var(--blue-color);
    border: var(--blue-color);
}
.icon-a :hover,
.icon-a:focus{
    fill: var(--while-color);
}
.icon-a{
    display: flex;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-item:not(:last-child){
margin-bottom: 40px;
}
.link2{
    margin-bottom: 284px;
}
.mob-menu-link1{
font-weight: 700;
font-size: 20px;
line-height:calc(24/20);
letter-spacing: 0.02em;
color: var(--title-color);
}
.mob-menu-link5{
    font-weight: 700;
    font-size: 36px;
    line-height:calc(40/36);
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.mob-menu-link5:hover,
.mob-menu-link1:focus{
   color:var(--blue-color);
}
.mob-menu-link1:hover,
.mob-menu-link1:focus{
   color:var(--blue-color);
}
 .mob-menu-link3:hover,
.mob-menu-link3:focus{
    color:var(--blue-color);
 }
.mob-menu-link3{
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--title-color);
}
.menu2{
    padding-bottom: 40px;
    margin-top: 48px;
}
/*.social-mob-menu{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}*/
.social-mob-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.social-media-menu{
    width:40px ;
    height:40px;
}
.social-link-menu{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

.social-icon-menu{
    display: flex;
     align-items: center;
    justify-content: center;
}
/*------------------SKILLS-------------*/
/*.rectangle{
    border-radius: 4px;
    border: 1px solid var(--while3-color);
    display: block;
    width: 264px;
    gap: 24px;
    background-color: var(--while3-color);
    margin-bottom: 8px;
}*/
.skills-2{
    padding-top: 96px;
    padding-bottom: 96px;
}
/*--------------STUDIO---------- */
.box-media{
    border-radius: 4px;
    background-color: var(--while3-color);
    width: 264px;
    height: 112px;
    gap: 24px;
    justify-content: center;
    display: flex;
}
/*.box-1{
    height: 112px;
    width: 264px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}*/
.sol{
    padding-top:112px;
    padding-bottom:112px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url('../images/office-mobile.jpg');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat ;
    background-color: var(--title-color);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
  .sol {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url('../images/office-mobile-2x.jpg');
  }  
}
.foto-text0{
position: absolute;
top: 0;
font-size: 16;
font-weight: 400;
color: var(--while-color);
padding: 40px;
background-color: var(--blue-color);
height: 100%;
transform:translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
overflow:auto;
}
.team-title-foto:hover .foto-text0{
    transform:translateY(0);
}
.foto-text-wrap{
    position: relative;
    overflow: hidden;
}
.foto-list{
    display: none;
}
.solutions-title{
    font-size: 36px;
    line-height:calc(40/36);
    color:var(--while-color);
    width:300px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
/*-------------BUTTON------------- */
.btn{
      padding-top:16px; ;
      padding-bottom: 16px;
      padding-left:32px;
      padding-right: 32px;
    font-family:inherit;
        font-size: 16px;
        line-height: calc(24/16);
        cursor: pointer;
}
.btn{
    background-color: var(--typle-color); 
    color:var(--while-color);
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 600;
    border: none;
}
.rectangle{
    display: none;
}
.button-list:hover,
.button-list:focus{  
    background-color:var(--blue2-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    color: var(--while-color);
    border-color: var(--blue2-color);
}
.button{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: inherit;
    font-size: 16px;
    line-height: calc(24/16);
    cursor: pointer;
    background: var(--while2-color);
    color:var(--typle-color);
    border: 1px solid var(--while2-color);
    border-radius: 4px;
    font-weight: 600;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button{
    display: flex;
    list-style: none;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
    flex-wrap: wrap;
}
    /*------------PORTFOLIO------------- */
.visual{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space:nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    /* ---------BUTTON--------- */
.button3{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space:nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden; 
    }
.btn-list:focus,
.btn-list:hover{
    background-color: var(--blue2-color);
    color:var(--while-color) ;
    }
.btn-list{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    /* --------------STUDIO---------- */
.list-ul{
 padding: 0%;
 margin: 0;
display: inline;
gap: 24px;
}
.st-list{
    margin-right: 24px;
    display: block;
}
.st-list2{
    margin-right: auto;
    display:block;
}
.list-ul>.st-list{
    outline: 1px solid var(--while-color)   
}
.title-team{
        font-size: 36px;
        line-height: calc(40/36);
        color:var(--title-color);
        margin-bottom: 72px;
        margin-left:auto;
        text-align: center;

    }
.title-list{
        font-family: Roboto;
        font-weight: 600;
        font-size: 36px;
        line-height:calc(40/36);
        color:var(--title-color);
        margin-bottom:8px;    
        text-align: center;
           
    }
.text{
        font-size: 16px;
        line-height:calc(24/16);
        color:var(--typle2-color);
        font-family:'Roboto';
        font-weight: 500;
        }
.foto{
    display: none;
}
    /*-----------LIST-------- */
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/* FOTO */

/*---------CONTACTS-----------*/
.empployees-card-contant-wrapper{
border: 1px solid var(--while3-color);
background-color: var(--while-color);
border-top: none;
padding-top:32px;
padding-bottom: 32px;
text-align: center;
}

.empployees-card-contant2{
    border: 1px solid var(--while3-color);
    background-color: var(--while-color);
    border-top: none;
    padding-top:32px;
    padding-bottom: 32px;
    padding-left: 16px;  
}
.team-title{
    background:var(--while3-color);
    padding-top: 72px;
    padding-bottom: 128px;
    margin-left: auto;
    margin-right: auto;
}
.team-foto{
display: flex;
flex-wrap: wrap;
}
.team-foto-list{
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}
.foto-team{
    margin-bottom: 120px;
}

team-title-foto1{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.team-title-foto1:hover,
.team-title-foto1:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.title-foto{
    font-size: 36px;
    line-height:calc(40/36);
    color:var(--title-color);
    margin-bottom: 48px;
    margin-right: 24px;

}
.team-title-foto{
    margin-bottom: 48px;
}
.card{
    margin-bottom: 120px;
}
.empployees-card-contant{
    border: 1px solid var(--while3-color);
background-color: var(--while-color);
border-top: none;
padding: 32px,16px,32px,26px;
}
.team{
    background-color:var(--while-color);
}
.name{
    font-size: 20px;
    line-height:calc(24/20);
    color:var(--title-color);
}
.work{
    font-size: 16px;
    line-height: calc(24/16);
    color:var(--title-color) ; 
    margin-top: 8px;
}
/*--------------------CUSTOMERS------------- */
.customers{
    background-color: var(--while-color);
    padding-top: 72px;
    padding-bottom: 96px;
}
.customers-text{ 
    font-size: 36px;
    line-height: calc(40/36);
    color:var(--title-color);
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 72px;
}
.box{
display: flex;
gap:72px 16px;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
}
.logo{
   width: calc((100% - 16px) / 2);
    height: 88px;  
}
.icone-link{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--title3-color);
    fill: var(--title3-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icone-link:hover,
.icone-link:focus{
border-color: var(--blue2-color);
fill: var(--blue2-color);
}
.icone-link{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*---------------------TEAM-------------------*/
.social{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.social-media{
width: 40px;
height: 40px;
}
.social-icon{
    align-items: center;
    justify-content: center;
}
.social-link{
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 50%;
    display: flex;
   justify-content: center;
   align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.social-link:hover,
.social-link:focus{
background-color: var(--blue2-color);
}
/*--------------------PORTFOLIO-------------*/
.portfolio{
    padding-top: 96px;
}
/*----------FOOTER---------- */
.footer{
    background-color:var(--title-color);
    padding-top:96px;
    padding-bottom:96px ;
    margin-left: auto;
    margin-right: auto;
}
.web2{
    color: var(--typle-color);
    text-transform: uppercase; 
    font-family: Raleway;
    text-align: center;
}
.studio-footer{
    color: var(--while-color);
    font-size: 18px;
    line-height: calc(21/18);
    font-weight: 800;
    text-transform: uppercase; 
    font-family: Raleway;
}
.end-text{
    font-size: 16px;
    line-height:calc(24/16);
    color:var(--while2-color) ;
    width: 268px;
    height:72px;
    margin-top: 16px;  
    /*margin-left: auto;
    margin-right: auto;*/
}
.media{
font-size: 16px;
line-height:calc(24/16);
color: var(--while-color);
text-align: center;
margin-bottom: 16px;
}
.box-icone2{
    display: flex;
    gap:16px;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
}
.box-icone{
    width: 40px;
    height: 40px;
}
.box-icone-a{
    width: 40px;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--title3-color);
}
.box-icone-a:focus,
.box-icone-a:hover{
background-color:var(--green) ;
}
.media-icon :hover,
.media-icon :focus{
color: var(--blue2-color);
}

.div{
/*margin-left: auto;*/
margin-right: 120px;
}
/*------------------MODAL--------------*/
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(46, 47, 66, 0.4);;
    transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    background-color: var(--while-color);
    border-radius: 4px;
    transform: translate(-50%,-50%) scale(1) rotate(0);
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px ;
}
.backdrop.is-hidden.modal{
    transform: translate(-50%,-50%) scale(0) rotate(-360de);
}
.modal-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border:  1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--while2-color);
    padding: 0px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus{
    background-color: var(--blue2-color);
}
.icon-a{
    align-items: center;
    justify-content: center;
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--title-color);
}
.icon-a:focus,
.icon-a:hover{
    fill: var(--while-color);
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.page-header-link{
    position: relative;
}
.modal-title2{
    font-size: 16px;
    line-height: calc(24/16);
    font-weight: 500;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 14px;
}
.subscribe{
    font-size: 16px;
    line-height:calc(24/16);
    color: var(--while-color);
    text-align: center;
    margin-left: auto;
    margin-bottom: 16px;
}
.email{
    height: 40px;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
padding-left: 16px;
background-color:transparent;
color: var(--while-color);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 100%;
}
.v:not(:last-child){
    margin-bottom: 72px;
}
.email:focus{
    border-color: var(--blue-color);
    outline: none;
}
.email::placeholder-shown{
    color: var(--blue-color);
}
.button-s{
    height: 40px;
   display: flex;
   align-items: center;
    padding: 8px 24px;
    color: var(--while-color);
    background-color: var(--blue-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}
.footer-div-1{
    margin-top:72px ;
}
.button-s:hover,
.button-s:focus{
    background-color:var(--blue2-color);
}
.icon-send{
margin-left: 16px;
fill: var(--while-color);
}
.modal-input{
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 35px;
background-color: transparent;
transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
border-color: var(--blue-color);
outline: none;
}
.modal-input:focus + .user{
fill: var(--blue-color);
}
.modal-coment:focus{
border-color: var(--blue-color);
outline: none;  
}
.send{
padding: 16px 32px;
color: var(--while-color);
background-color:var(--blue-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
border: none;
margin-right: auto;
margin-left: auto;
display: block;
margin-top: 24px;
min-width: 169px;
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.send:focus,
.send:hover{
background-color: var(--blue2-color);
}
.name-modal{
    font-weight: 400;
    font-size: 12px;
    line-height:calc(16/12);
    color: var(--title3-color);
    margin-bottom: 4px;
    display: inline-block;
    letter-spacing: 0.04em;
}
/*--------------------------SVG----------------*/
.user{
    display: block;
    left: 16px;
    top: 50%;
    transform: translate(0,-50%);
    fill:var(--title-color) ;
    position: absolute;
}
.modal-form{
    position: relative;
}
/*-------------------------*/

.modal-coment{
width: 260px;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
background-color:transparent;
outline: none;
padding: 8px 16px ;
resize: none;
transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
display: block;
}
.modal-coment:placeholder-shown{
color: var(--blue-color);
}
.modal-coment :hover,
.modal-coment :focus {
    border-color: var(--blue-color);
    outline: none;
}
.modal-coment-label{
    margin-bottom: 8px;
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}
.modal-field{
    margin-bottom: 24px;
}
/*-----------------CHECK------------*/
.privaty-text::before{
    content: '';
    display: flex;
    width:16px ;
    height: 16px;
    border: 1.25px solid var(--title-color);
    border-radius: 2px;
    margin-right:8px;
}
.privaty-text{
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16/12);
    display: flex;
    align-items: center;
    color:var(--gray);
}
.check{
    font-size: 12px;
    line-height: calc(16/12);
    display: flex;
    align-items: center;
    color:rgba(77, 90, 229, 1) ;
}
.footer-div{
    margin-top: 72px;
}
.privaty-check{
    margin-top: 16px;
}
.check-input:checked + .privaty-text::before{
    background-color: var(--blue-color);
    border: none;
    background-image: url(../images/Vector\ \(8\).svg);
    background-repeat: no-repeat;
    background-position:center;
}
